version: '3.8'

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  gateway:
    build: .
    command: uvicorn gateway:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      redis:
        condition: service_healthy

  worker:
    build: .
    command: python worker.py worker-1
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      redis:
        condition: service_healthy

  telegram_bot:
    build: .
    command: python bot.py
    environment:
      - BOT_TOKEN=SMTH
      - REDIS_URL=redis://redis:6379
      - GATEWAY_URL=http://gateway:8000
    depends_on:
      - gateway
      - redis